@page "/"
@page "/home"

<PageTitle>Home</PageTitle>


<h1>Мега прикольное веб-приложение позволяющее делать ТАКОЕ....</h1>
<p>Например создавать одномерные и двумерные массивы.</p>
<p>МЕГА ПРИКОЛЬНО</p>